<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVX2ZCZxU6THrE8B2XY1PVG79JkSvi-ec</string>
	<key>GCM_SENDER_ID</key>
	<string>753015902288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lavenes.blastWallet</string>
	<key>PROJECT_ID</key>
	<string>blastwallet</string>
	<key>STORAGE_BUCKET</key>
	<string>blastwallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753015902288:ios:e28319da0c1b98a4e78155</string>
</dict>
</plist>